footer {
  font-family: 'neo sans arabic';
}

img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

#footer {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

ul {
  padding: 10px;
  list-style: none;
  margin: 0;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  color: #6b7280;
  margin: 0;
}
.line{
height: 30px;
width: 1px;
background-color: #e5e7eb;
}
h3 {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c28;
}

p{
margin: 0 5px;
height: 6px;
width: 6px;
border-radius: 50%;
background-color: #e8e8e8;
}
